/* General Header Styles */
header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    color: white;
    padding: 20px 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid #4c9daf;
}
/* Section Images */
.section-image {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
    /* Ensures the image is centered and fits well within its container */
    object-fit: contain; /* Ensures the whole image is visible without distortion */
}


/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #4cafa8;
}

/* Hero Section */
.hero {
    text-align: center;
    background: linear-gradient(135deg, #48cae4, #0096c7);
    color: #fff;
    padding: 50px 20px;
    border-radius: 0 0 50% 50% / 10%;
}

.hero h2 {
    font-family: 'Merriweather', serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero button {
    background: white;
    color: #0096c7;
    padding: 10px 20px;
    border-radius: 25px;
}
.hero-image {
    width: 50%; /* Adjust width to make it smaller */
    height: auto; /* Keep aspect ratio */
}


/* Applications Section */
.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
